In [1]:
print ("hello")

hello

In [1]:
if 5>2:
    print ("five is greater than two")

five is greater than two

In [2]:
#this is comment
print ("hello")

hello

In [3]:
x=5
y=6
print(x)
print(y)

5
6

In [4]:
x=4
x="sally"
print (x)

sally

In [6]:
x=5
y="john"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

In [9]:
myvar="John"
myvariablename="john"
print (myvariablename)

john

In [10]:
x,y,z = "orange","banana","cherry"
print (x)
print (y)
print (z)

orange
banana
cherry

In [11]:
fruits = ["apple","banana","cherry"]
x,y,z= fruits
print (x,y,z)

apple banana cherry

In [12]:
x=5
y=10
print (x+y)

15

In [13]:
x=5
y=10
print (x,y)

5 10

In [25]:
x="awesome"

def myfunc():
    print ("Python is "+x)

myfunc()

Python is awesome

In [26]:
x="awesome"

def myfunc():
    global x
    x= "fantastic"

myfunc()

print ("Python is "+ x)

Python is fantastic

In [27]:
x = tuple(("apple", "banana", "cherry"))
print (type(x))

<class 'tuple'>

In [28]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [29]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
x=1
y=2.8
z=1j

a=float(x)
b=int(y)
c=complex(x)

print(a)
print(b)
print(c)

print (type(a))
print (type(b))
print (type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [31]:
import random

print (random.randrange(1,10))

2

In [36]:
x=int(1)
y=int(2.8)
z=int("3")

a=str("s1")
b=str(2)
c=str(3.0)

print (x)
print(y)
print(z)

print (a)
print(b)
print(c)

1
2
3
s1
2
3.0

In [40]:
a= "hello world"
print(a[1])

e

In [42]:
for x in "banana":
    print (x)

b
a
n
a
n
a

In [43]:
a ="hello world"
print (len(a))

11

In [44]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [45]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [54]:
b="hello world"
print (b[:-5])

hello

In [55]:
a="hello world"
print (a.upper())

HELLO WORLD

In [56]:
a="hello world"
print (a.lower())

hello world

In [57]:
a="hello world"
print(a.replace("h","j"))

jello world

In [58]:
a="Hello, World"
print (a.split(","))

['Hello', ' World']

In [59]:
a= "hello"
b="world"
c=a+b
print (c)

helloworld

In [63]:
age=36
txt=f"my name is John, I am {age}"
price=59
txt2=f" my price is {price:.2f} dollars"
print(txt+txt2)

my name is John, I am 36 my price is 59.00 dollars

In [66]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [67]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [68]:
a=200
b=33

if b>a:
    print ("b is greater than a")
else:
    print ("b is not greater than a")

b is not greater than a

In [69]:
print(bool("Hello"))
print(bool(15))

True
True

In [70]:
x="hello"
y= 15

print(bool(x))
print(bool(y))

True
True

In [71]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [72]:
class myclass():
    def _len_(self):
        return 0
    
myobj=myclass()
print(bool(myobj))

True

In [74]:
def myfunction():
    return True


if myfunction():
    print("Yes")
else: 
    print("No")

Yes

In [75]:
x=200
print(isinstance(x,int))

True

In [78]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [79]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [81]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [82]:
thislist=["apple","banana","cherry"]
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [83]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [84]:
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [85]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']